<h1>Jogos</h1>

<a href="/jogos/formularioJogos">Cadastrar um Novo Jogo</a>
<table border="1">
    <tr>
        <th>Titulo</th>
        <th>Descrição</th>
        <th>Preço</th>
    </tr>
    {{#each jogos}}
    <tr>
        <td>{{this.titulo}}</td>
        <td>{{this.descricao}}</td>
        <td>{{this.preco}}</td>
        <td>
            <a href="/jogos/{{this.id}}/atualizar">Atualizar a Página</a>
            <form action="/jogos/excluir" method="post">
                <input name="id" type="hidden" value="{{this.id}}" />
                <input type="submit" value="excluir" />
            </form>
            <a href="/jogos/{{this.id}}/conquista">Ver Conquistas</a>
        </td>
    </tr>
    {{/each}}
</table>

<style>
table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 20px;
    }
    
    th, td {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }
    
    th {
        background-color: #f2f2f2;
    }
    
    tr:nth-child(even) {
        background-color: #f9f9f9;
    }
    
    /* Estilos para cabeçalho e rodapé da tabela */
    .table-header {
        font-weight: bold;
        font-size: 18px;
        text-align: center;
        background-color: #4CAF50;
        color: white;
        padding: 10px;
    }
    
    .table-footer {
        font-weight: bold;
        text-align: right;
        padding: 10px;
    }
</style>