<h1>Usuários</h1>

<a href="/usuarios/formularioUsuario">Cadastrar usuário</a>
<table border="1">
    <tr>
        <th>Nickname</th>
        <th>Nome</th>
    </tr>
    {{#each usuarios}}
    <tr>
        <td>{{this.nickname}}</td>
        <td>{{this.nome}}</td>
        <td>
            <a href="/usuarios/{{this.id}}/atualizar">Atualizar a Página</a>
            <form action="/usuarios/excluir" method="post">
                <input name="id" type="hidden" value="{{this.id}}" />
                <input type="submit" value="excluir" />
            </form>
            <a href="/usuarios/{{this.id}}/cartoes">Ver Cartões</a>
        </td>
    </tr>
    {{/each}}
</table>

<style>
table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 20px;
    }
    
    th, td {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }
    
    th {
        background-color: #f2f2f2;
    }
    
    tr:nth-child(even) {
        background-color: #f9f9f9;
    }
    
    /* Estilos para cabeçalho e rodapé da tabela */
    .table-header {
        font-weight: bold;
        font-size: 18px;
        text-align: center;
        background-color: #4CAF50;
        color: white;
        padding: 10px;
    }
    
    .table-footer {
        font-weight: bold;
        text-align: right;
        padding: 10px;
    }
</style>